@()
@main("Honours Tracker Data Loader") {
    <p><a href="@routes.HomeController.logout">Log out</a></p>

    <h2>What would you like to do?</h2>
    <ul class="action-options">
        <li><a href="@routes.HomeController.nomination">Upload a new nomination</a></li>
        <li><a href="@routes.HomeController.directorate">Get a directorate shortlist</a></li>
        <li><a href="@routes.HomeController.shortlistUploadPage">Upload a completed directorate shortlist</a></li>
        <li><a href="@routes.HomeController.department">Get a departmental shortlist</a></li>
        <li><a href="@routes.HomeController.shortlistUploadPage">Upload a completed departmental shortlist</a></li>
        <li><a href="@routes.HomeController.finalShortlist">Get a final shortlist to send to Cabinet Office</a></li>
    </ul>
}
